# notification-service — Environment Variables
# Salin file ini ke .env dan isi nilainya sebelum menjalankan service

# Server
PORT=3004

# PostgreSQL — notification_db
DB_HOST=localhost
DB_PORT=5432
DB_NAME=notification_db
DB_USER=kelompok5
DB_PASSWORD=

# RabbitMQ
RABBITMQ_URL=amqp://kelompok5:<password>@localhost:5672
