# event-service — Environment Variables
# Salin file ini ke .env dan isi nilainya sebelum menjalankan service

# Server
PORT=3001

# PostgreSQL — event_db
DB_HOST=localhost
DB_PORT=5432
DB_NAME=event_db
DB_USER=kelompok5
DB_PASSWORD=

# Catatan: event-service TIDAK membutuhkan RABBITMQ_URL atau REDIS
