PORT=3000
JWT_SECRET=wartiket_secret_kelompok5_2024

# Service URLs (dalam Docker gunakan nama container)
EVENT_SERVICE_URL=http://localhost:3001
TICKET_SERVICE_URL=http://localhost:3002
PAYMENT_SERVICE_URL=http://localhost:3003
NOTIFICATION_SERVICE_URL=http://localhost:3004

# Redis (untuk rate-limit)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=tiketkonser123
