PORT=3005
NODE_ENV=development

# Database ERP (terpisah dari microservice DB)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=erp_db
DB_USER=kelompok5
DB_PASSWORD=tiketkonser123

# JWT
JWT_SECRET=erp_wartiket_secret_kelompok5_2024
JWT_EXPIRES_IN=8h

# RabbitMQ (untuk consume event dari microservice)
RABBITMQ_URL=amqp://kelompok5:tiketkonser123@localhost:5672

# Service URLs (untuk M1/M2 — write ke microservice via REST)
EVENT_SERVICE_URL=http://localhost:3001
TICKET_SERVICE_URL=http://localhost:3002
PAYMENT_SERVICE_URL=http://localhost:3003
